footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .footer_links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
    }

    h1 {
        color: $black;
        font-size: 25vw;
        word-spacing: -4vw;
        letter-spacing: -1vw;
        line-height: 80%;
        margin-bottom: -1vw;
        text-align: center;
    }
}

/*========================== Breakpoints ==========================*/
@media (max-width: 1440px) {
    footer {
        h1 {
            font-size: 23.5vw;
        }
    }
}

@media (max-width: 868px) {
    footer {
        h1 {
            font-size: 24vw;
        }

        .footer_links {
            gap: 2rem;
        }
    }
}

@media (max-width: 600px) {
    footer {
        gap: 3rem;
        h1 {
            font-size: 22vw;
            margin-bottom: -0.5vw;
        }
    }
}
