.tabs_block {
    display: flex;
    gap: 8rem;
    flex-direction: row;
    align-items: stretch;

    /* Image */
    .tabs_img {
        overflow: hidden;
        flex: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(90%);
        }
    }

    /* Seprator line */
    #sperator {
        flex: 0 0 1px;
        background: $black;
    }

    /* Right contact details tabs */
    .right_contact_details {
        flex: 1;

        /* Tabs */
        .tabs {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            .contactTab,
            .socialTab {
                position: relative;
                cursor: pointer;
                overflow: hidden;
                transition: all $transition;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    left: -100%;
                    bottom: 0%;
                    background: $black;
                    transition: all $transition;
                }
                &.active-tab::before {
                    left: 0%;
                }
            }
        }

        /* Details Wrapper */
        .contact_details {
            .contactTabWrapper,
            .socialTabWrapper {
                p {
                    border-bottom: 1px solid $grey;
                    padding: 1.4rem 0;
                }
                a {
                    position: relative;
                    display: block;
                    overflow: hidden;
                    &::before {
                        content: "";
                        position: absolute;
                        left: -100%;
                        bottom: 0;
                        background: $black;
                        width: 100%;
                        height: 1px;
                        transition: all $transition;
                    }
                    &:hover::before {
                        left: 0%;
                    }
                }
            }
        }
    }
}

/* Responsive Media Queries */
@media (max-width: 1140px) {
    .tabs_block {
        gap: 4rem;
    }
}

@media (max-width: 868px) {
    .tabs_block {
        flex-direction: column;
        gap: 3rem;
        #sperator {
            background: $grey;
        }
    }
}

@media (max-width: 670px) {
    .tabs_block {
        .tabs_img {
            img {
                min-height: 400px;
            }
        }
    }
}
