$black: #1a1a1a;
$white: #fff;
$grey: #cccccc;
$transition: 0.3s ease-in-out;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: AvgLight;
    color: $black;
}

body {
    overscroll-behavior: none;
    font-variation-settings: normal;
    font-feature-settings: normal;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::selection {
    color: rgb(255, 255, 255);
    background: #000;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.c-scrollbar_thumb {
    background: #000;
    opacity: 1;
}

@import "utilities/utilities";
@import "components/components";
@import "pages/pages";
