@import "fonts";

#main {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

section {
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $black;
}

/* ======================== Margins ======================== */
.mT2 {
    margin-top: 2rem;
}

.mT4 {
    margin-top: 3.9rem;
}

/*========================== Breakpoints ==========================*/
@media (max-width: 1660px) {
    #main {
        gap: 8rem;
    }
}

@media (max-width: 1440px) {
    #main {
        gap: 6rem;
    }
}

@media (max-width: 868px) {
    .mT2 {
        margin-top: 1.6rem;
    }

    .mT4 {
        margin-top: 3.2rem;
    }

    #main {
        padding: 0 2rem;
    }
}

@media (max-width: 430px) {
    #main {
        padding: 0 1rem;
    }
}
